@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;




/* Animations */


@keyframes pulseColors {
  0% {
    color: #538bcf;
  }
  50% {
    color: #b71a1a;
  }
  100% {
    color: #d52424;
  }
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
 }
  to {
    transform: rotate(360deg);
 }
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  /* background-image: url('/bkgr.jpg'); */
  background-color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#app-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

#app-container {
  overflow-y: auto;
  height: 100vh;
}

#app-container::-webkit-scrollbar {
  width: 12px;
}

#app-container::-webkit-scrollbar-thumb {
  background-color: #198919;
  border-radius: 10px;
  border: 2px solid #0783ff;
}

#app-container::-webkit-scrollbar-track {
  background-color: #001f3f;
}

#app-container {
  scrollbar-width: bold;
  scrollbar-color: #0073ffd1 #00000000;
}


.group:hover .animate-pulse-colors {
  animation: pulseColors 2s ease-in-out infinite;
}


.nav_link{
  cursor: url('/cursor.png'), pointer; 
}



.text-shadow-md {
  text-shadow: 0 4px 6px rgba(1, 1, 1, 1), 0 1px 3px rgba(0, 0, 0, 1);
}



.before\:animate-glowing::before {
  animation: glowing 20s linear infinite;
}


.neon-text {
  text-shadow: 0 0 10px #1bafff, 0 0 20px #9beeff, 0 0 40px #ffffff;
}

.bg-neon-green {
  background-color: #00ffcc;
  animation: pulse 2s infinite alternate;
}







